.storybook-button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: 2px solid rgb(var(--border-rgb));
  border-radius: 2em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button:hover {
  transition: background-color 0.3s;
}
.storybook-button:focus {
  outline: 2px solid rgb(var(--foreground-rgb));
}
.storybook-button--primary {
  background-color: rgb(var(--primary-rgb));
}
.storybook-button--primary:hover,
.storybook-button--primary:focus,
.storybook-button--primary:active {
  background-color: rgb(var(--interact-rgb));
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
